asgiref==3.5.2
Django==4.0.6
django-admin-interface==0.19.2
django-colorfield==0.7.2
django-crispy-forms==1.14.0
django-flat-responsive==2.0
django-flat-theme==1.1.4
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.1
Pillow==9.2.0
psycopg2-binary==2.9.3
PyYAML==6.0
six==1.16.0
sqlparse==0.4.2
template==0.7.6
toml==0.10.2
tzdata==2022.1
