{% extends "index.html" %}

{% block content %}
    <h1>Пост: <strong>{{ post.title }}</strong></h1>
    <p>{{ post.description }}</p>
    <p>{{ post.created_at|date:'DATE_FORMAT' }}</p>
    {% if post.image %}
        <hr>
        <img src="{{ post.image.url }}" width="800">
        <hr>
    {% endif %}
    <a href="{% url 'update_post' post.pk%}" class="btn btn-primary">Изменить</a>
    <a href="{% url 'delete_post' post.pk%}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'add_comment' post.pk%}" class="btn btn-info">Добавить Комментарий</a>
    {% if post.comments.all %}
    <hr>
    <h2>Комментарии</h2>
        {% for comment in post.comments.all %}
            <p>{{comment.description}} - {{comment.created_at}}</p>
        {% endfor %}
    <hr>
    {% endif %}
{% endblock content %}