{% extends "index.html" %}

{% block content %}
    <h1>Post:
        <em>{{ post.title }}</em>
    </h1>
    <p>Description:
        {{ post.description }}</p>
    <p>Created_at:
        {{ post.created_at|date:'DATE_FORMAT' }}</p>
    {% if post.image %}
        <hr>
        <img src="{{ post.image.url }}" width="800">
    {% endif %}
    <hr>
    {% if user.is_superuser or user.is_staff %}
        <a href="{% url 'update_post' post.pk%}" class="btn btn-primary">Update</a>
        <a href="{% url 'delete_post' post.pk%}" class="btn btn-danger">Delete</a>
    {% endif %}
    <a href="{% url 'add_comment' post.pk%}" class="btn btn-info">Add comment</a>
    {% if post.comments.all %}
        <hr>
        <h2>Комментарии</h2>
        <hr>
        {% for comment in post.comments.all %}
            <p>{{comment.description}}
                -
                {{comment.created_at|date:'DATETIME_FORMAT'}}</p><hr>
        {% endfor %}
    {% endif %}
{% endblock content %}