{% extends "index.html" %}

{% block content %}
    <h1>Пост: <em>{{ post.title }}</em></h1>
    <p>Описание: {{ post.description }}</p>
    <p>Создано: {{ post.created_at|date:'DATE_FORMAT' }}</p>
    {% if post.updated_at %}
    <p>Обновлено: {{ post.updated_at|date:'DATE_FORMAT' }}</p>
    {% endif %}
    {% if post.image %}
        <hr>
        <img src="{{ post.image.url }}" width="800">
        <hr>
    {% endif %}
    <a href="{% url 'update_post' post.pk%}" class="btn btn-primary">Изменить</a>
    <a href="{% url 'delete_post' post.pk%}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'add_comment' post.pk%}" class="btn btn-info">Добавить Комментарий</a>
    {% if post.comments.all %}
    <hr>
    <h2>Комментарии</h2>
        {% for comment in post.comments.all %}<br>
            <p>{{comment.description}} - {{comment.created_at|date:'DATETIME_FORMAT'}}</p><hr>
        {% endfor %}
    {% endif %}
{% endblock content %}