<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FORUM</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            {% block content %}
                <h1>Forum - 673116</h1>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if user.is_superuser or user.is_staff %}
                    <a href="{% url 'create_post' %}" class="btn btn-primary">Create NEW post</a>
                    <a href="{% url 'upload' %}" class="btn btn-secondary">Upload files</a>
                    <a href="{% url 'download' %}" class="btn btn-secondary">Download files</a>
                {% endif %}
                <div class="card card-block">
                    {% if object_list %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="table-primary" scope="col">Title</th>
                                    <th class="table-primary" scope="col">Description</th>
                                    <th class="table-primary" scope="col">Created at</th>
                                    <th class="table-primary" scope="col">Updated at</th>
                                    {% if user.is_superuser or user.is_staff %}
                                        <th class="table-primary" scope="col">Update</th>
                                        <th class="table-primary" scope="col">Delete</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in object_list %}
                                    <tr>
                                        <th class="table-info" scope="row">
                                            <a href="{% url 'detail_post' post.pk%}">{{ post.title }}</a>
                                        </th>
                                        <td class="table-info">{{ post.description }}</td>
                                        <td class="table-info">{{ post.created_at|date:'DATE_FORMAT' }}</td>
                                        <td class="table-info">{{ post.updated_at|date:'DATETIME_FORMAT' }}</td>
                                        {% if user.is_superuser or user.is_staff %}
                                            <td class="table-info">
                                                <a href="{% url 'update_post' post.pk%}" class="btn btn-primary">Update</a>
                                            </td>
                                            <td class="table-info">
                                                <a href="{% url 'delete_post' post.pk%}" class="btn btn-danger">Delete</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <strong>No posts</strong>
                    {% endif %}
                {% endblock %}
            </div>
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                crossorigin="anonymous"></script>
        </body>
    </html>