<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forum</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            {% block content %}
                <h1>Forum</h1>
                <div class="card card-block">
                <a href="{% url 'create_post' %}" class="btn btn-primary btn-sm btn-block">Добавить Новый Пост</a>
                    {% if object_list %}
                            <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Название</th>
                                            <th scope="col">Описание</th>
                                            <th scope="col">Создано</th>
                                            <th scope="col">Изменить</th>
                                            <th scope="col">Удалить</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for post in object_list %}
                                    <tr>
                                        <th scope="row">
                                            <a href="{% url 'detail_post' post.pk%}">{{ post.title }}</a>
                                        </th>
                                        <td>{{ post.description }}</td>
                                        <td>{{ post.created_at|date:'DATE_FORMAT' }}</td>
                                        <td>
                                            <a href="{% url 'update_post' post.pk%}" class="btn btn-primary">Изменить</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'delete_post' post.pk%}" class="btn btn-danger">Удалить</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                            <p>No posts</p>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                    {% endblock %}
        </div>
    </body>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</html>